<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> מדינה </th>
      <td mat-cell *matCellDef="let element"> {{element.state.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef> מתאריך </th>
      <td mat-cell *matCellDef="let element"> {{element.startDate | date}} </td>
    </ng-container>
  
    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef> עד תאריך </th>
      <td mat-cell *matCellDef="let element"> {{element.endDate | date}} </td>
    </ng-container>
  
    <ng-container matColumnDef="note">
      <th mat-header-cell *matHeaderCellDef> הערות </th>
      <td mat-cell *matCellDef="let element"> {{element.note}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
